@import 'styles/colors.scss';

.container {
  display: flex;
  overflow: hidden;
}

.cover {
  flex: 3;
  height: 100%;
}

.title-container {
  flex: 4;
  padding: 8px 6px 6px 6px;
}

.title {
  font-size: 1rem;
  font-weight: 600;
  text-align: left;
  line-height: 18px;
  margin: 2px 0px 8px 0px;
  text-overflow: ellipsis;
}

.tag {
  height: 1.2rem !important;
  padding: 2px 0.45rem 2px 0.45rem !important;
  margin: 2px 0px 8px 0px !important;
  // background-color:  $pink !important;
  background-color: hsl(342, 80%, 90%) !important;
  color: hsl(351, 79%, 53%) !important;
  border-radius: 3px !important;
  font-size: 13px !important;
}

.legend {
  text-align: left;
  font-size: 0.9em;
  color: hsl(0, 0%, 40%);
  padding-top: 4px;
}
