@import "styles/colors.scss";

.container {
    display: flex;
    border-radius: 0px 10px 10px 0px;
    border-right: 1px solid #dadce0;
    overflow: hidden;
    margin-bottom: 40px;
}

.cover {
    flex: 3;
    height: 100%;
}

.title-container {
    flex: 4;
    padding: 8px 6px 6px 6px;
    border-radius: 0px 0px 10px 0px;
    border-bottom: 1px solid #dadce0;
    border-top: 1px solid #dadce0;

}

.title {
    font-size: 0.9rem;
    font-weight: 500;
    font-family: sans-serif;
    text-align: left;   
}

.tag {
    height: 1.2rem  !important;
    padding: 2px 0.45rem 2px 0.45rem !important;
    margin: 2px 0px 8px 0px !important;   
    // background-color:  $pink !important;
    background-color: rgb(250, 209, 221) !important;
    color: rgb(235, 84, 106) !important;
    border-radius: 8px !important;
    font-size: 11.5px  !important;

}

.legend {
    text-align: left;   
    font-size: 0.8em;
    color:#A9A9A9
}

