.container {
    display: flex;
    flex-direction: column;
    border-radius: 12px;
    border-bottom: 1px solid #dadce0;
    overflow: hidden;

}

.cover {
        flex:3;
}

.title-container {
    flex: 1;
    padding: 4px 6px 6px 6px;
    border-left: 1px solid #dadce0;
    border-right: 1px solid #dadce0;
    border-radius: 0px 0px 10px 10px;
}

.title {
    font-size: 0.8rem;
    font-weight: 500;
    font-family: sans-serif;
    text-align: left;   

}

.category {
    text-align: left;   
    font-size: 0.8em;
    color:#A9A9A9
}

