@import 'styles/colors.scss';

.container {
  display: flex;
  padding: 8px 4px 8px 0 px;
  margin: 0px 0px 16px 0px;
}

.highlight-content {
  flex: 1;
  padding: 10px;
  border-top: 1px solid $light-gray;
  border-bottom: 1px solid $light-gray;
  border-right: 1px solid $light-gray;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.title-bar {
  display: flex;
  flex: 2;
  align-items: center;
  margin: 0px 0px 6px 0px;
}

.actions {
  flex: 1;
  justify-content: flex-end;
}

.highlight-text {
  font-size: 1.08em;
  width: 85ch;
  margin: 0px 0px 8px 0px;
  padding-left: 42px;
  font-family: Roboto;
}

.highlight-note {
  display: flex;
  align-items: center;
  font-style: italic;
  gap: 8px;
  color: $gray;
  padding-left: 42px;
  width: 85ch;
}

.book-info {
  padding-left: 10px;
}

.book-title {
  font-weight: 600;
  font-size: 12px;
  margin-bottom: 4px;
}

.highlight-info {
  font-size: 0.9em;
  font-style: italic;
  font-family: 'Source Sans Pro', sans-serif;
}
