// colors
$light-gray: #dadce0;
$off-white: #e5e7eb;
$blue: #1a73e8;
$pink: #eb546a;


//  colors
$font-color: hsl(217, 19%, 27%);
$font-color-hover: hsl(221, 39%, 11%); 
$hover-gray: hsla(214, 82%, 51%, 0.04);

$hover-gray-100: hsl(220, 14%, 96%);