// colors
$light-gray: #dadce0;
$off-white: #e5e7eb;
$blue: #1a73e8;
$pink: #eb546a;


//  colors
$font-color: rgba(55, 65, 81, var(1));
$font-color-hover: rgba(17, 24, 39, var(1)); 
$hover-gray: rgba(26,115,232,.04);

$hover-gray-100: rgba(243, 244, 246, 1);