@import "styles/colors.scss";

.relative {
    position: relative;

    &:hover {
        .tooltip {
            display: block;
            transition: ease-in 0.2s;
        }
    }
}

.tooltip {
    display: none;
    z-index: 3;
    font-size: 11px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    position: absolute;
    padding: 2px 6px 2px 6px;
    letter-spacing: 0.5px;
    background-color: hsl(217, 19%, 22%);
    border: 1px solid hsl(217, 19%, 22%);
    border-radius: 4px;
    box-shadow: rgb(15 15 15 / 5%) 0px 0px 0px 1px,
        rgb(15 15 15 / 10%) 0px 3px 6px;

    /** Tooltip expand animation*/
    &:before {
        transform: scale3d(0.2, 0.2, 1);
        transition: all 0.2s ease-in-out;
    }
    &:after {
        transform: translate3d(0, 6px, 0);
        transition: all 0.1s ease-in-out;
    }
    &:hover:before,
    &:hover:after {
        opacity: 1;
        transform: scale3d(1, 1, 1);
    }
    &:hover:after {
        transition: all 0.2s 0.1s ease-in-out;
    }
}

.right {
    left: 100%;
    margin-left: 2px;
}

.left {
    right: 100%;
    margin-right: 2px;
}

.top {
    bottom: 100%;
    margin-bottom: 2px;
    margin-left: -50%;
}

.bottom {
    top: 100%;
    margin-top: 2px;
    margin-left: -50%;
}
