@import 'styles/colors.scss';

.container {
  display: flex;
  overflow-y: scroll;
  margin-top: 10px;
  height: calc(100vh - 20vh) !important;
  padding-top: 10px;
  justify-items: center;
  justify-content: center;
}

.highlight-sidebar {
  flex: 1;
  background-color: hsl(45, 8%, 97%);
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  padding: 8px 4px 8px 4px;
  gap: 20px;
}

.highlight-sidebar-search {
  font-size: 1rem !important;

  &:hover {
    box-shadow: none !important;
  }
}

.highlight-list {
  flex: 5;
  padding: 0px 50px 0px 8px;
}

.book-tile-container {
  width: 310px;
  height: 180px;
  cursor: pointer;

  &:hover {
    background-color: $off-white;
  }
}
