.container {
    // display: flex;
    // grid-template-columns: 1fr 3fr;
    // grid-template-rows: 100px auto;
    // margin-top: 20px;
    // padding: 5px;
    // height: 1;
    overflow-y: hidden;
    display: flex;
    flex: 1;
    height: calc(100vh - 20vh) !important;
    margin-top: 20px;
    justify-items: center;
    justify-content: center;
 
}

.book-heading {
    width: 350px;
    height: 190px;
}
.books-list {
    flex: 1;
    padding: 0px 16px 0px 16px;
    overflow-y: scroll;
}

.notes-highlights-heading {
    font-size: 22px;
    font-weight: 500;
    text-align: center;
}

.highlights {
    flex: 3;
    padding: 20px 10px 10px 64px;
    overflow-y: scroll;
}

.input-container {
    width: 90%;
    padding: 5px;
}
.input {
    width: 100%;
}

.book-tile-container {
    transition: transform .2s;
    transform: translateY(0px);

    width: 310px;
    height: 190px;
    cursor: pointer;
}

