.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    opacity: 0.3;
    z-index: 2;
}

.hidden {
    display: none !important;
}

.visible {
    display: flex !important;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 3px;
}
