.heading {
    
    font-weight:400 !important;

    &-small {
        font-size: 1.4rem;
    }

    &-medium {
        font-size: 1.6rem;
    }

    &-large {
        font-size: 2rem;

    }

}
