@import 'styles/colors.scss';

.button {
  display: flex;
  font-weight: 600;
  border-radius: 4px;
  padding: 4.5px 4px 4.5px 4px;
  font-size: 15px;
  border: none;
  background-color: white;
  cursor: pointer;
  color: $font-color;
  align-items: center;
  min-width: 70px;
  justify-content: center;
  gap: 4px;
  &:hover {
    transition: ease-in 0.2s;
    background-color: $hover-gray-200;
  }

  &:focus {
    outline: none;
  }
}

.button-icon {
  font-weight: 600;
  font-size: 15px;
}
