@import "styles/colors.scss";

.button {
    font-weight: 400;
    border-radius: 16px;
    text-align: center;
    padding: 8px 16px 8px 16px;
    border: 1px solid $light-gray;
    background-color: white;
    cursor: pointer;
    color: $font-color;

    &:hover {
        background-color: $hover-gray;
        color:  $pink !important;
    }

    &:focus {
        outline: none;
    }
}

.button-icon {
    padding: 0px 0px 0px 8px;
    font-size: 12px;
}