@import 'styles/colors.scss';

.container {
	height: calc(100vh - 20vh);
	overflow-y: scroll;
	padding: 5px 15px 5px 30px;
}

.image {
	height: 100%;
	/** Fix image aliasing when sized down*/
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-ms-transform: translateZ(0); /* IE 9 */
	-webkit-transform: translateZ(0); /* Chrome, Safari, Opera */
	transform: translateZ(0);
}

.highlight-heading {
	margin: 2px 8px 16px 8px;
	padding-bottom: 4px;
	border-bottom: solid 1px $light-gray;
	font-weight: 500;
}

.highlight {
	display: grid;
	grid-template-rows: 1fr auto;
	margin-bottom: 26px;
	break-inside: avoid;
}
