@import "styles/colors.scss";

.thumb {
    display: flex;
    height: 2px;
    border-radius: 10px;
    background-color: hsl(342, 80%, 90%) !important;
}

.progress-indicator {
    background-color: hsl(351, 79%, 53%) !important;
    border-radius: 10px;
}

.heading {
    margin: 16px 0px 2px 0px;
    font-size: 12px;
    font-weight: 600;
    color: hsl(0, 0, 40%);
    font-family: "Source Sans Pro", sans-serif;
}

.labels {
    margin-bottom: 3px;
    font-size: 11px;
    font-weight: 600;
    font-family: "Source Sans Pro", sans-serif;
    display: flex;
    justify-content: space-between;
    color: $gray;
}
